<!DOCTYPE html>
<html lang="en">

<%- include('partials/head', { title: '500 | Pokemath' }) %>

<body>
    <nav>
        <a href="/" style="text-decoration: none">
            <div id="logo">PokéMath</div>
        </a>
    </nav>

    <div class="question">
        <p style="font-size: 1.5rem">500</p><br />
        <p style="font-size: 1.5rem">Internal server error</p>
    </div>
</body>
</html>
