<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My EJS Project</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
    <nav>
        <div id="logo">PokéMath</div>
        <div class="menu-container">
            <button><img src="/icons/menu.svg"></button>
            <div class="popover">
                <a href="/players">Players</a>
                <a href="/logout">Logout</a>
            </div>
        </div>
    </nav>
    <div class="responsive-center">
        <a href="/catch">
            <div class="pokeball">
                <div class="pokeball-button"></div>
            </div>
        </a>
    </div>
</body>
</html>
