<!DOCTYPE html>
<html lang="en">

<%- include('partials/head', { title: 'Pokemath' }) %>

<body>
    <%- include('partials/nav', { username }) %>

    <div class="responsive-center">
        <a tabindex="1" href="/catch">
            <div class="pokeball">
                <div class="pokeball-button"></div>
            </div>
        </a>
    </div>
</body>
</html>
