<!DOCTYPE html>
<html lang="en">

<%- include('partials/head', { title: 'Pokemath' }) %>

<body>
    <%- include('partials/nav', { username }) %>

    <p class="sticky-text"><%= requestedPlayer %></p>

    <div class="flex-container">
        <% for (let p of pokemons) { %>
            <img src="/images/icons/<%= p.id %>.avif" width="112" height="112">
        <% } %>
    </div>
</body>
</html>
