<!DOCTYPE html>
<html lang="en">

<%- include('partials/head', { title: 'Players | Pokemath' }) %>

<body>
    <%- include('partials/nav', { username }) %>

    <div class="players">
        <% for (let p of players) { %>
            <div class="player">
                <a href="/<%= p.username %>">
                    <p><%= p.username %></p>
                    <div class="type-badge fairy">Fairy</div>
                    <div class="type-badge fighting">fighting</div>
                </a>
            </div>
        <% } %>
    </div>
</body>
</html>
